/* reset css import */
@import url(reset.css);
/* footer attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "League Spartan", sans-serif;
  line-height: 1.5;
  background-color: var(--Light-Grayish-Magenta);
}
:root {
  /* colour variables */

  /* primary - colours */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /* Neutral - colours */
  --Dark0Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
@media screen and (max-width: 768px) {
  header {
    padding: 1.5rem;
    height: fit-content;
    background-image: url(../images/bg-pattern-top-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--Very-Dark-Magenta);
  }
  .review_section div {
    background-color: hsl(303deg 10% 53% / 35%);
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0.5rem 0rem;
  }
  .review_section {
    padding: 1.5rem;
  }
  .review_section img {
    width: 15px;
  }
  .review_section span {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 0.5rem auto;
  }
  .testimonial_section {
    padding: 1.5rem;
  }
  .testimonial_section div {
    background-color: var(--Very-Dark-Magenta);
    border-radius: 0.5rem;
    padding: 1.5rem;

    font-weight: normal;
    margin: 1rem;
    p {
      color: white;
    }
  }
}
